@-moz-document url-prefix("https://docs.google.com/document/d/") {
#docs-titlebar-share-client-button {
    transition: 300ms;
}

#docs-titlebar-share-client-button:hover {
    transform: scale(1.2);
    /* animation-fill-mode: forwards; */
    animation-name: wibblyWobbly-x1b-u008a-scale;
    animation-duration: 800ms;
}

/*/
#docs-branding-container a:hover {
    animation-name: wibblyWobbly-x1b-u008a;
    animation-duration: 800ms;
}
/**/

.onegoogle-material-minibar a[role="button"] {
    transition: 300ms;
}

.onegoogle-material-minibar a[role="button"]:hover {
    transform: scale(1.45);
}

.onegoogle-material-minibar a[role="button"] img {
    transition: 300ms;
    transform: rotate(0deg);
}

.onegoogle-material-minibar a[role="button"]:hover img {
    transform: rotate(675deg);
}

.modal-dialog, .javascriptMaterialdesignGm3WizDialog-dialog__surface, .help-panel, #help_panel_main_frame {
    animation-name: wibblyWobbly-x1b-u008a-alt;
    animation-duration: 800ms;
    animation-fill-mode: backwards;
}

.docs-collapsable-toolbar-control:not(:hover):not(:active) { background: transparent !important }

#docs-toolbar-wrapper:hover { transform: scale(1.001); }

.docs-collapsable-toolbar-control { transition: 140ms; }

/*/
.docs-collapsable-toolbar-control { transition: 120ms; }
.goog-toolbar-button:not(:hover) { background: transparent !important }
.docs-collapsable-toolbar-control:not(:hover):not(:active) { background: transparent !important }

.docs-collapsable-toolbar-control:not(.goog-toolbar-separator):hover { transform: scale(1.6); }
.docs-collapsable-toolbar-control:not(.goog-toolbar-separator):hover ~ .docs-collapsable-toolbar-control:not(.goog-toolbar-separator) { transform: scale(1.3); }
.docs-collapsable-toolbar-control:not(.goog-toolbar-separator):hover ~ .docs-collapsable-toolbar-control:not(.goog-toolbar-separator) ~ .docs-collapsable-toolbar-control:not(.goog-toolbar-separator) { transform: scale(1.15); }
.docs-collapsable-toolbar-control:not(.goog-toolbar-separator):hover ~ .docs-collapsable-toolbar-control:not(.goog-toolbar-separator) ~ .docs-collapsable-toolbar-control:not(.goog-toolbar-separator) ~ .docs-collapsable-toolbar-control:not(.goog-toolbar-separator) { transform: scale(1.075); }
/**/


@keyframes wibblyWobbly-x1b-u008a-scale {
    0% { transform: skew(0deg, 0deg) scale(1); }
    /* stage 1 */
    10% { transform: skew(10deg, 10deg) scale(1.05); }
    12% { transform: skew(10deg, 10deg) scale(1.1); }
    22% { transform: skew(10deg, -10deg) scale(1.15); }
    24% { transform: skew(10deg, -10deg) scale(1.2); }
    /* stage 2 */
    34% { transform: skew(8deg, 8deg) scale(1.2); }
    36% { transform: skew(8deg, 8deg) scale(1.2); }
    46% { transform: skew(8deg, -8deg) scale(1.2); }
    48% { transform: skew(10deg, -8deg) scale(1.2); }
    /* stage 3 */
    58% { transform: skew(5deg, 5deg) scale(1.2); }
    60% { transform: skew(5deg, 5deg) scale(1.2); }
    70% { transform: skew(5deg, -5deg) scale(1.2); }
    72% { transform: skew(5deg, -5deg) scale(1.2); }
    /* stage 4 */
    82% { transform: skew(10deg, 2deg) scale(1.2); }
    84% { transform: skew(8deg, 2deg) scale(1.2); }
    94% { transform: skew(5deg, -2deg) scale(1.2); }
    96% { transform: skew(2deg, -2deg) scale(1.2); }
    /* fin */
    100% { transform: skew(0deg, 0deg) scale(1.2); }
}

@keyframes wibblyWobbly-x1b-u008a-scale2 {
    0% { transform: skew(0deg, 0deg) scale(1); }
    /* stage 1 */
    10% { transform: skew(10deg, 10deg) scale(1.05); }
    12% { transform: skew(10deg, 10deg) scale(1.1); }
    22% { transform: skew(10deg, -10deg) scale(1.15); }
    24% { transform: skew(10deg, -10deg) scale(1.2); }
    /* stage 2 */
    34% { transform: skew(8deg, 8deg) scale(1.25); }
    36% { transform: skew(8deg, 8deg) scale(1.3); }
    46% { transform: skew(8deg, -8deg) scale(1.3); }
    48% { transform: skew(10deg, -8deg) scale(1.35); }
    /* stage 3 */
    58% { transform: skew(5deg, 5deg) scale(1.35); }
    60% { transform: skew(5deg, 5deg) scale(1.4); }
    70% { transform: skew(5deg, -5deg) scale(1.4); }
    72% { transform: skew(5deg, -5deg) scale(1.4); }
    /* stage 4 */
    82% { transform: skew(10deg, 2deg) scale(1.4); }
    84% { transform: skew(8deg, 2deg) scale(1.45); }
    94% { transform: skew(5deg, -2deg) scale(1.45); }
    96% { transform: skew(2deg, -2deg) scale(1.45); }
    /* fin */
    100% { transform: skew(0deg, 0deg) scale(1.45); }
}

@keyframes wibblyWobbly-x1b-u008a {
    0% { transform: skew(0deg, 0deg); }
    /* stage 1 */
    10% { transform: skew(10deg, 10deg); }
    12% { transform: skew(10deg, 10deg); }
    22% { transform: skew(10deg, -10deg); }
    24% { transform: skew(10deg, -10deg); }
    /* stage 2 */
    34% { transform: skew(8deg, 8deg); }
    36% { transform: skew(8deg, 8deg); }
    46% { transform: skew(8deg, -8deg); }
    48% { transform: skew(10deg, -8deg); }
    /* stage 3 */
    58% { transform: skew(5deg, 5deg); }
    60% { transform: skew(5deg, 5deg); }
    70% { transform: skew(5deg, -5deg); }
    72% { transform: skew(5deg, -5deg); }
    /* stage 4 */
    82% { transform: skew(10deg, 2deg); }
    84% { transform: skew(8deg, 2deg); }
    94% { transform: skew(5deg, -2deg); }
    96% { transform: skew(2deg, -2deg); }
    /* fin */
    100% { transform: skew(0deg, 0deg); }
}


@keyframes wibblyWobbly-x1b-u008a-alt {
    0% { transform: skew(0deg, 0deg); }
    /* stage 1 */
    10% { transform: skew(10deg, 10deg); }
    12% { transform: skew(10deg, 10deg); }
    22% { transform: skew(8deg, -8deg); }
    24% { transform: skew(8deg, -8deg); }
    /* stage 2 */
    34% { transform: skew(5deg, 5deg); }
    36% { transform: skew(5deg, 5deg); }
    46% { transform: skew(5deg, -5deg); }
    48% { transform: skew(5deg, -5deg); }
    /* stage 3 */
    58% { transform: skew(4deg, 4deg); }
    60% { transform: skew(4deg, 4deg); }
    70% { transform: skew(3deg, -3deg); }
    72% { transform: skew(3deg, -3deg); }
    /* stage 4 */
    82% { transform: skew(2deg, 2deg); }
    84% { transform: skew(2deg, 2deg); }
    94% { transform: skew(1deg, -1deg); }
    96% { transform: skew(0.5deg, -0.5deg); }
    /* fin */
    100% { transform: skew(0deg, 0deg); }
}
}
